# dependencies
**/node_modules
/.pnp
.pnp.js

# R data files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Server files
.htaccess
cgi-bin/gDriveFast.pm
cgi-bin/gDriveMountFast.pl

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea

# R renv library
renv/library
renv/local
renv/cellar
renv/lock
renv/python
renv/sandbox
renv/staging

# Python virtual environment
venv/
