## BROWSER CACHING FOR STATIC FILES ##
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType cgi-bin/SVGs/OpenMenu.svg "access 1 week"
    ExpiresByType cgi-bin/core/packages/GoogleMaterial/material.green-pink.min.css "access 1 week"
    ExpiresByType cgi-bin/core/packages/GoogleMaterial/material.min.js "access 1 week"
    ExpiresByType cgi-bin/core/packages/bootstrap/css/bootstrap.min.css "access 1 week"
    ExpiresByType cgi-bin/core/packages/bootstrap/js/bootstrap.min.js "access 1 week"
    ExpiresByType cgi-bin/core/packages/ddslick/jquery.ddslick.min.js "access 1 week"
    ExpiresByType cgi-bin/core/packages/html2canvas/html2canvas.min.js "access 1 week"
    ExpiresByType cgi-bin/core/packages/jQuery/jquery.min.js "access 1 week"
    ExpiresByType cgi-bin/core/packages/jQuery-ui/jquery-ui.min.js "access 1 week"
    ExpiresByType cgi-bin/core/packages/tablefilter/tablefilter.min.js "access 1 week"
    ExpiresByType cgi-bin/core/packages/tabletoCSV/jquery.tabletoCSV.js "access 1 week"
    ExpiresByType cgi-bin/img/BAR-logo.png "access 1 week"
    ExpiresByType cgi-bin/img/BAR-logo.svg "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0001_geneLocusAutofill.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0002_selectDataset.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0003_selectOptions.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0004_yAxisScale.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0005_absoluteMax.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0006_loadData.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0007_hideNav.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0008_eFPOverviewGeneral.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0009_eFPOverviewHover.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0010_GenerateData.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0011_UploadExcel.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0012_TissueSelect.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0013_bulkTemplate.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0014_manageAccount.png "access 1 week"
    ExpiresByType cgi-bin/img/helpModal/0015_downloadTableAsImage.png "access 1 week"
    ExpiresByType cgi-bin/img/landingPage.jpg "access 1 week"
    ExpiresByType cgi-bin/img/landingPage.webp "access 1 week"
</IfModule>
## BROWSER CACHING FOR STATIC FILES ##

## GZIP COMPRESSION ##
<IfModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_dechunk Yes
    mod_gzip_item_include file .(html?|js|css|jpg|png|bai|xml|ico|svg|webmanifest|xlsx|webp|txt)$
    mod_gzip_item_include handler ^cgi-script$
    mod_gzip_item_include mime ^text/.*
    mod_gzip_item_include mime ^application/x-javascript.*
    mod_gzip_item_exclude mime ^image/.*
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>
## GZIP COMPRESSION ##

## Cache Control
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
    Header set Referrer-Policy "same-origin"
    Header set X-XSS-Protection "1; mode=block"
    Header set Permissions-Policy "fullscreen=*, picture-in-picture=*, xr-spatial-tracking=*, gamepad=*, hid=*, idle-detection=*, window-placement=*"
    Header add Content-Security-Policy "default-src 'self' 'unsafe-inline' *.google-analytics.com *.googleapis.com *.googletagmanager.com *.google.com *.google.ca *.gstatic.com *.utoronto.ca *.nih.gov *.amazonaws.com *.tacc.cloud *.w3schools.com data:; object-src 'self'; form-action 'self';"

    <FilesMatch "\.(js|css|jpg|png|html|bai|xml|ico|svg|webmanifest|xlsx|webp|txt)$">
        Header set Cache-Control "max-age=604800"
        Header append Vary: Accept-Encoding
    </FilesMatch>
</IfModule>
## Cache Control