.scale {
    height: 2em;
    width: auto;
}

.scalearrow {
    height: 1em;
    width: auto;
}

.formtextarea {
  vertical-align: top;
}

.leftmargin {
  margin-left: 2%;
}

.form_in {
  background-color: #CBE8BA;
  border-radius: 25px;
  margin-left: 0.5%;
  margin-right: 2%;
  padding-bottom: 1%;
}

.TopText {
  padding-left: 4em;
}

.titleform {
  padding-left: 1.5%;
}

.forminput {
  padding-left: 3.5%;
  padding-top: 0.7%;
  display: flex;
}

.inputform {
  right: 4%;
}

.tutorialbotton {
  padding-right: 2%;
}

.button_fixed {
  margin-left: 2%;
  bottom: 1%;
  padding-top: 1%;
}

.generated span {
  transition: 0.5s;
}

.generated span:after {
  content: 'Generating';
  right: 100%;
  transition: 0.5s;
}

td {
  padding-left: 10%;
}

label {
  padding-left: 10%;
}

.replicate_controls {
  margin-left: 2%;
}

.welcome {
  text-align: center;
  font-weight: bold;
}

.option_create {
  background-color: #CBE8BA;
  border-radius: 25px;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 5%;
}

.create_button {
  background-color: #e7e7e7 !important;
  color: black;
}

.downloadlinktext {
  font-weight: bold;
  font-size: 3em;
}

.finalsubmitbutton {
  position: fixed;
  bottom: 1%;
  right: 7%;
  -webkit-border-radius: 27;
  -moz-border-radius: 27;
  border-radius: 27px;
  text-shadow: 1px 1px 3px #000000;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 34px;
  background: #3ebae0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.finalsubmitbutton:hover {
  background: #0d9e00;
  text-decoration: none;
}

.reqasterisk {
  color: #CBE8BA;
  font-weight:bold;
}

input {
    float:right;
    border:2px solid #dadada;
    border-radius:7px;
    padding:5px;
    margin-top:-10px;
}

input:focus {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

textarea {
    float:right;
    border:2px solid #dadada;
    border-radius:7px;
    padding:5px;
    margin-top:-10px;
}

textarea:focus {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}
