html, body{
	height: 100%;
	margin: 0;
}

body{
	font-family: 'Roboto', sans-serif, arial;
	font-size: 16px;
	position: relative;
	overflow-x: hidden;
}

a{
	color: #0d0d0d;
	-webkit-transition: all .2s;
	transition: all .2s;
}

a:hover{
	color: #18bd9b;
	text-decoration: none;
}

h2,h3{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif, arial;
}

hr{
	max-width: 100px;
	border-top: 4px solid #18bd9b;
}

hr.light{
	border-top: 4px solid #fff;
	max-width: 100px;
}

.top-nav-collapse {
    padding: .3em;
}

.navbar-nav>li>a{
	color: #0d0d0d;
	font-weight: bold;
	text-shadow: 0 0 5px #000;
}

.navbar-nav>li>a:hover{
	color: #18bd9b;
}

#welcomeSlide{
	background-image: url('images/slide2small.jpg');
	background-size: cover;
	background-position: center;
  	width: 100%;
  	height: 100%;
}

#welcomeLanding{
	padding-top: 120px;
}

#welcomeLanding .welcomeText{
	color: #fff;
	text-align: center;
	padding-top: 75px;
}

#welcomeLanding .welcomeText h2{
	font-size: 75px;
	text-shadow: 1px 1px 7px #000;
}

#welcomeLanding .welcomeText h3{
	font-weight: 300;
	text-shadow: 1px 1px 7px #000;
}

#aboutSlide{
	background-image: url('images/yellow_dna.png');
	background-size: cover;
	background-position: center;
  	width: 100%;
  	height: 100%;
}

.header-content-inner{
	max-width: 100%;
	margin: 0 auto;
}

.scroll{
	text-transform: uppercase;
	position: relative;
	bottom: -150px;
}

.text-primary{
	color:  #18bd9b;
}

.splitter {
	background-color: #4f4f4f;
	height: 7px;
}
