.vcenter {
display: inline-block;
vertical-align: middle;
float: none;
}
th.sortable {
cursor: pointer;
}
.arrows {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC45bDN+TgAAAK9JREFUKFOdkt0JhTAMRuMe7QCiA7VzqBvoJE7Sh3YA3cEHUegGuXwBL+LN/fPhJKT0UJqEcs4MlmVh773k4+wdIu37zsMwMBFx3/dSXy+eESmlxHVdi4QcY1QvH9C6rtx1HRdFIRIy6m3bVAFQCIGttSIcoJ7nWRUANU3DZVm+MI6jKoBn9/7h3kvan4wxPE2TKgC1e23bfu4ewnlOVVV9nxPCrY0A2Dnn3A+7l/kBTysUq9Bl38cAAAAASUVORK5CYII=) no-repeat 100%;
}
thead, tbody, td, th {
border: 1px solid #D3D3D3;
}
.hidden {
display: none;
}
.locus_button_style {
	margin-left: 20px;
}

.mdl-tooltip.is-active {
    animation: none;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    z-index: 1151;
}

.loading {
  position: fixed;
  border: 16px solid #dbdbdb;
  border-radius: 50%;
  border-top: 16px solid #53f442;
  margin-left: 44%;
  margin-top: 13%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  opacity: 100%;
  transition: opacity 1s ease-in-out;
  z-index:1000;
}

.done_loading {
  opacity: 0;
}

.body_of_loading {
  filter: grayscale(1);
  transition: filter 1s ease-in-out;
}

.body_of_loading_done {
  filter: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.efp_table_tooltip {
  position: relative;
  display: inline-block;
}

.efp_table_tooltip:hover {
  box-shadow: 0px 0px 10px #000000;
  border-style: inherit;
  border-width: 2px;
  border-color: #53f442;
  background-color: #CBE8BA;
  z-index: 1150;
  transition: all 400ms ease-in;
  transform: scale(1.5);
}

.efp_table_tooltip .efp_table_tooltip_text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(97,97,97,.9);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  font-size: 10px;
  padding: 2px;
  position: absolute;
  z-index: 1155;
  left: 80%;
  margin-left: -60px;
  max-width: 75px;
}

.efp_table_tooltip .efp_table_tooltip_text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(97,97,97,.9) transparent;
}

.efp_table_tooltip:hover .efp_table_tooltip_text {
    visibility: visible;
}

.efp_modal_table {
  padding-left: 24px;
  padding-right: 10px;
}
