.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

th.sortable {
    cursor: pointer;
}

.arrows {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC45bDN+TgAAAK9JREFUKFOdkt0JhTAMRuMe7QCiA7VzqBvoJE7Sh3YA3cEHUegGuXwBL+LN/fPhJKT0UJqEcs4MlmVh773k4+wdIu37zsMwMBFx3/dSXy+eESmlxHVdi4QcY1QvH9C6rtx1HRdFIRIy6m3bVAFQCIGttSIcoJ7nWRUANU3DZVm+MI6jKoBn9/7h3kvan4wxPE2TKgC1e23bfu4ewnlOVVV9nxPCrY0A2Dnn3A+7l/kBTysUq9Bl38cAAAAASUVORK5CYII=) no-repeat 100%;
}

thead,
tbody,
td,
th {
    border: 1px solid #D3D3D3;
}

.hidden {
    display: none;
}

.mdl-tooltip.is-active {
    animation: none;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    z-index: 1151;
    transition-delay: 0.6s;
    font-family: Arial;
    font-size: 1.2em;
}

.loading {
    position: fixed;
    border: 16px solid #dbdbdb;
    border-radius: 50%;
    border-top: 16px solid #53f442;
    margin-left: 44%;
    margin-top: 13%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    opacity: 100%;
    transition: opacity 1s ease-in-out;
    z-index: 1000;
}

.done_loading {
    opacity: 0;
}

.body_of_loading {
    filter: grayscale(1);
    transition: filter 1s ease-in-out;
}

.body_of_loading_done {
    filter: none;
}

a {
    color: #0673e8;
}

.signout-button {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.efp_table_tooltip {
    position: relative;
    display: inline-block;
}

.efp_table_tooltip:hover {
    box-shadow: 0px 0px 10px #000000;
    border-style: inherit;
    border-width: 2px;
    border-color: #53f442;
    background-color: #CBE8BA;
    z-index: 1150;
    transition: all 400ms ease-in;
    transform: scale(1.4);
}

.efp_table_tooltip .efp_table_tooltip_text {
    visibility: hidden;
    width: 120px;
    background-color: rgba(97, 97, 97, .9);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    font-size: 10px;
    padding: 2px;
    position: absolute;
    z-index: 1155;
    left: 80%;
    margin-left: -60px;
    max-width: 75px;
}

.efp_table_tooltip .efp_table_tooltip_text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(97, 97, 97, .9) transparent;
}

.efp_table_tooltip:hover .efp_table_tooltip_text {
    visibility: visible;
}

.efp_modal_table {
    padding-right: 10px;
    font-size: 1.4em;
}

.modal-footer-colour {
    background-color: #eafaea;
}

.warning_core {
    padding: 20px;
    background-color: #d62a1d;
    color: white;
    opacity: 100%;
    transition: 1s ease-in-out;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 2%;
}

.warning_core_nope {
    opacity: 0;
    height: 0px;
    transition: 1s ease;
}

.warning_index {
    padding: 20px;
    background-color: #d62a1d;
    color: white;
    opacity: 100%;
    transition: 1s ease-in-out;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 2%;
}

.warning_nope_index {
    opacity: 0;
    height: 0px;
    transition: 1s ease;
}

.warning_button_index {
    float: right;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 5px 13px;
    overflow: auto;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #CBE8BA;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 0 rgba(15, 73, 168, 0.66);
    margin-right: 5px;
    margin-top: -5px;
}

.warning_button_index:hover {
    background: #9ecaed;
}

.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropup .dropdown-toggle::after {
    border-top: 0;
    border-bottom: 0.3em solid;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-divider {
    height: 1px;
    margin: 0.5rem 0;
    overflow: hidden;
    background-color: #eceeef;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: normal;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0275d8;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #636c72;
    cursor: not-allowed;
    background-color: transparent;
}

.show>.dropdown-menu {
    display: block;
}

.show>a {
    outline: 0;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu-left {
    right: auto;
    left: 0;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #636c72;
    white-space: nowrap;
}

.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
}

.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 0.125rem;
}

.navbar_menu {
    background-color: #4a4a4a;
    height: inherit;
}

@media screen and (min-width:576px) {
    .navbar_menu {
        height: 100vh;
    }
    .spacerBottom {
        margin-bottom: 7% !important;
    }
}

.navbar_menu_title {
    font-size: 3em;
    color: white;
    padding-left: 8%;
    margin: auto;
}

.navbar_menu_general_font {
    color: white;
    line-height: 100%;
    text-align: justify;
    font-family: Arial;
    font-size: 1.9em;
    margin-bottom: 2%;
}

.navbar_menu_clickable {
    font-size: 1.5em;
    margin-bottom: 3%;
}

.navbar_menu_loadData {
    text-align: center;
    background-color: #9c0;
    border-color: #9c0;
    color: black;
    font-weight: 600;
}

.navbar_menu_loadData:hover {
    color: white;
    background-color: #588e02;
    border-color: #3d6302;
}

.navbar_menu_buttons {
    color: black;
    font-weight: 600;
    background-color: #b7b7b7;
    border-color: #b7b7b7;
    white-space: normal;
}

.navbar_menu_buttons:hover {
    color: #fff;
    background-color: #727b84;
    border-color: #6c757d;
}

.navbar_menu_footer_help {
    color: white;
    line-height: 100%;
    text-align: justify;
    font-family: Arial;
    font-size: 2em;
}

.navbar_menu_footer_overflow_abs {
    z-index: 100;
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    padding-top: 14px;
    background: #3d3d3d;
    margin-left: -10%;
}

.navbar_menu_footer_overflow_sticky {
    z-index: 100;
    position: sticky;
    bottom: 0;
    width: -webkit-fill-available;
    padding-top: 14px;
    padding-bottom: 10%;
    background: #3d3d3d;
    margin-left: -10%;
}

.navbar_menu_input {
    font-weight: 600;
}

.navbar_menu_center {
    float: none;
    margin: 0 auto;
}

.navbar_menu_form_group {
    margin-bottom: 6.5%;
}

.backToTop {
    right: 50px;
    bottom: 1%;
    position: fixed;
    cursor: pointer;
}

.tableToggle {
    right: 20px;
    bottom: 1%;
    position: fixed;
    cursor: pointer;
}

.downloadDiv {
    right: 4%;
    top: 6%;
    position: fixed;
    cursor: pointer;
}

.openMenu {
    position: fixed;
    cursor: pointer;
    top: 1.6%;
    left: 0.4%;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.RNATable {
    max-width: 1200px;
    margin: 0 auto;
}

.account_manage_button {
    color: #fff;
    font-weight: 600;
    background-color: #28a745;
    border-color: #28a745;
    font-size: 1.1em;
}

.account_manage_button:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.account_manage_button_delete {
    color: #fff;
    font-weight: 600;
    background-color: #dc3545;
    border-color: #dc3545;
    font-size: 1.1em;
}

.account_manage_button_delete:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.mainContainer {
    background-color: #eaebee;
}

.cardTitle {
    font-size: 1.3em;
}

.helpCardImages {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.HelpNoteDiv {
    background-color: #ace2fa;
}

.HelpNoteTop {
    font-size: 1.2em;
    background-color: #02a8f3;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.HelpNoteBottom {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.spacerBottom {
    margin-bottom: 15% !important;
}

.detailsIcon {
    font-size: 1.5em;
    line-height: 0;
    vertical-align: middle;
    margin-bottom: 1%;
}

.theTable { 
    font-size: 12px;
}

.dd-option-image {
    vertical-align: middle;
    float: left;
    margin-right: 5px;
    max-width: 576px !important; 
    width:95% !important; 
    height: auto  !important;
}

.dd-selected-image {
    max-width: 576px !important; 
    width:95% !important; 
    height: auto  !important;
}