/* - - - - - - - - - - - - - - - - - - - - -

Title : Wufoo Form Structure
URL : http://www.wufoo.com

- - - - - - - - - - - - - - - - - - - - - */
html {
  background: #eee; }

body {
  margin: 17px 0 15px 0;
  padding: 0;
  text-align: center;
  font-size: small;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif; }

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object, output {
  display: block; }

#container {
  text-align: left;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px; }

#container {
  margin: 0 auto 10px auto;
  width: 640px; }

form.wufoo {
  margin: 20px 14px 0 14px;
  padding: 0 0 20px 0;
  position: relative; }

/* ----- LOGO ----- */
#logo {
  margin: 0;
  padding: 0;
  min-height: 0;
  background-color: #dedede;
  text-indent: -9000px;
  text-decoration: none; }

#logo a {
  min-height: 40px;
  height: 40px;
  display: block;
  background: url(/images/wflogo.png) no-repeat left top;
  overflow: hidden; }

* html #logo a {
  _background-image: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/wflogo.png", sizingMethod="crop"); }

img, a img {
  border: none;
  -ms-interpolation-mode: bicubic; }

.hide, .cloak div, .cloak span, .likert.cloak tbody, .likert.cloak thead {
  display: none !important; }

.likert.cloak table {
  border: none; }

.is-hidden {
  display: none !important; }

/* - - - - - - - - - - - - - - - - - - - - -

Title : Wufoo Form Framework
URL : http://www.wufoo.com

Last Updated : March 2, 2010

- - - - - - - - - - - - - - - - - - - - - */
/*
* Pictos Font
* Copyright 2010 Drew Wilson
* http://www.drewwilson.com  -  http://pictos.drewwilson.com
*/
@font-face {
  font-family: 'Pictos';
  src: url("/fonts/pictos.eot?iefix");
  src: local("Pictos"), url("/fonts/pictos.woff") format("woff"), url("/fonts/pictos.ttf") format("truetype"), url("/fonts/pictos.svg#webfontIyfZbseF") format("svg");
  font-weight: normal;
  font-style: normal; }
.pictos {
  font-family: "Pictos"; }

/*
Pictos Pseudo Element Icon Reference
By Kevin Hale
*/
.p-a:before {
  font-family: "Pictos";
  content: "a "; }

.p-b:before {
  font-family: "Pictos";
  content: "b "; }

.p-c:before {
  font-family: "Pictos";
  content: "c "; }

.p-d:before {
  font-family: "Pictos";
  content: "d "; }

.p-e:before {
  font-family: "Pictos";
  content: "e "; }

.p-f:before {
  font-family: "Pictos";
  content: "f "; }

.p-g:before {
  font-family: "Pictos";
  content: "g "; }

.p-h:before {
  font-family: "Pictos";
  content: "h "; }

.p-i:before {
  font-family: "Pictos";
  content: "i "; }

.p-j:before {
  font-family: "Pictos";
  content: "j "; }

.p-k:before {
  font-family: "Pictos";
  content: "k "; }

.p-l:before {
  font-family: "Pictos";
  content: "l "; }

.p-m:before {
  font-family: "Pictos";
  content: "m "; }

.p-n:before {
  font-family: "Pictos";
  content: "n "; }

.p-o:before {
  font-family: "Pictos";
  content: "o "; }

.p-p:before {
  font-family: "Pictos";
  content: "p "; }

.p-q:before {
  font-family: "Pictos";
  content: "q "; }

.p-r:before {
  font-family: "Pictos";
  content: "r "; }

.p-s:before {
  font-family: "Pictos";
  content: "s "; }

.p-t:before {
  font-family: "Pictos";
  content: "t "; }

.p-u:before {
  font-family: "Pictos";
  content: "u "; }

.p-v:before {
  font-family: "Pictos";
  content: "v "; }

.p-w:before {
  font-family: "Pictos";
  content: "w "; }

.p-x:before {
  font-family: "Pictos";
  content: "x "; }

.p-y:before {
  font-family: "Pictos";
  content: "y "; }

.p-z:before {
  font-family: "Pictos";
  content: "z "; }

.p-A:before {
  font-family: "Pictos";
  content: "A "; }

.p-B:before {
  font-family: "Pictos";
  content: "B "; }

.p-C:before {
  font-family: "Pictos";
  content: "C "; }

.p-D:before {
  font-family: "Pictos";
  content: "D "; }

.p-E:before {
  font-family: "Pictos";
  content: "E "; }

.p-F:before {
  font-family: "Pictos";
  content: "F "; }

.p-G:before {
  font-family: "Pictos";
  content: "G "; }

.p-H:before {
  font-family: "Pictos";
  content: "H "; }

.p-I:before {
  font-family: "Pictos";
  content: "I "; }

.p-J:before {
  font-family: "Pictos";
  content: "J "; }

.p-K:before {
  font-family: "Pictos";
  content: "K "; }

.p-L:before {
  font-family: "Pictos";
  content: "L "; }

.p-M:before {
  font-family: "Pictos";
  content: "M "; }

.p-N:before {
  font-family: "Pictos";
  content: "N "; }

.p-O:before {
  font-family: "Pictos";
  content: "O "; }

.p-P:before {
  font-family: "Pictos";
  content: "P "; }

.p-Q:before {
  font-family: "Pictos";
  content: "Q "; }

.p-R:before {
  font-family: "Pictos";
  content: "R "; }

.p-S:before, .rating span:before, .rating:hover span:hover ~ span:before {
  font-family: "Pictos";
  content: "S "; }

.p-T:before {
  font-family: "Pictos";
  content: "T "; }

.p-U:before {
  font-family: "Pictos";
  content: "U "; }

.p-V:before {
  font-family: "Pictos";
  content: "V "; }

.p-W:before {
  font-family: "Pictos";
  content: "W "; }

.p-X:before {
  font-family: "Pictos";
  content: "X "; }

.p-Y:before {
  font-family: "Pictos";
  content: "Y "; }

.p-Z:before {
  font-family: "Pictos";
  content: "Z "; }

.wufoo {
  font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
  letter-spacing: .01em; }

.wufoo li {
  width: 64%; }

/* ----- INFO ----- */
.info {
  display: inline-block;
  clear: both;
  margin: 0 0 5px 0;
  padding: 0 1% 1.1em 1%;
  border-bottom: 1px dotted #ccc; }

.info[class] {
  display: block; }

.hideHeader .info, #payment.hideHeader li.first {
  display: none; }

.info h2 {
  font-weight: normal;
  font-size: 160%;
  margin: 0 0 5px 0;
  clear: left; }

.info div {
  font-size: 95%;
  line-height: 135%;
  color: #555; }

/* ----- Field Structure ----- */
form ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

* html form ul {
  /* IE6 Margin Percent Bug for Halves/Thirds */
  width: 99%;
  zoom: 1; }

form li {
  margin: 0;
  padding: 6px 1% 9px 1%;
  clear: both;
  background-color: transparent;
  position: relative;
  /* Makes Instructs z-index stay on top in IE. */
  -webkit-transition: background-color 350ms ease-out;
  -moz-transition: background-color 350ms ease-out;
  -o-transition: background-color 350ms ease-out;
  transition: background-color 350ms ease-out; }

form ul:after, form li:after, form li div:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html form li {
  height: 1%;
  margin-bottom: -3px; }

* + html form li {
  height: 1%;
  margin-bottom: -3px; }

* html form li div {
  display: inline-block; }

* + html form ul, * + html form li div {
  display: inline-block; }

form li div {
  margin: 0;
  padding: 0;
  color: #444; }

form li span {
  margin: 0 .3em 0 0;
  padding: 0;
  float: left;
  color: #444; }

/* ----- Choices Field Structures ----- */
form li div span {
  margin: 0;
  display: block;
  width: 100%;
  float: left; }

li.twoColumns div span {
  width: 48%;
  margin: 0 5px 0 0; }

li.threeColumns div span {
  width: 30%;
  margin: 0 5px 0 0; }

li.notStacked div span {
  width: auto;
  margin: 0 7px 0 0; }

/* ----- Location Field Structures ----- */
form li.complex {
  padding-bottom: 0; }

form li.complex div span {
  width: auto;
  margin: 0 .3em 0 0;
  padding-bottom: 12px; }

form li.complex div span.full {
  margin: 0; }

form li.complex div span.left,
form li.complex div span.right {
  margin: 0;
  width: 48%; }

form li.complex div span.full input,
form li.complex div span.full select,
form li.complex div span.left input,
form li.complex div span.right input,
form li.complex div span.left select,
form li.complex div span.right select {
  width: 100%; }

/* ----- FLOATS ----- */
.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both !important; }

label span, .section span, p span, .likert span {
  display: inline !important;
  float: none !important; }

/* ----- LABELS ----- */
form li div label, form li span label {
  margin: 0;
  padding-top: 3px;
  clear: both;
  font-size: 85%;
  line-height: 160%;
  color: #444;
  display: block; }

fieldset {
  display: block;
  border: none;
  margin: 0;
  padding: 0; }

label.desc, legend.desc {
  font-size: 95%;
  font-weight: bold;
  color: #222;
  line-height: 150%;
  margin: 0;
  padding: 0 0 3px 0;
  border: none;
  display: block;
  white-space: normal;
  width: 100%; }

label.choice {
  display: block;
  cursor: pointer;
  /* iPad Label Click Fix */
  font-size: 100%;
  line-height: 150%;
  margin: -17px 0 0 23px;
  padding: 0 0 5px 0;
  color: #222;
  width: 88%; }

#public input[disabled] + label.choice {
  cursor: default; }
  #public input[disabled] + label.choice span {
    color: #777; }

.safari label.choice {
  margin-top: -16px; }

form.rightLabel .desc {
  padding-top: 2px; }

span.symbol {
  font-size: 120%;
  line-height: 135%; }

form li .datepicker {
  float: left;
  margin: .19em 5px 0 0;
  padding: 0;
  width: 16px;
  height: 16px;
  cursor: pointer !important; }

li .choice__qty {
  font-size: 0.9em;
  font-style: italic;
  color: #777; }

li.hideQty .choice__qty, li.hideQuantity .choice__qty {
  display: none !important; }

/* ----- REQUIRED ----- */
form span.req {
  display: inline;
  float: none;
  color: red !important;
  font-weight: bold;
  margin: 0;
  padding: 0; }

/* ----- MIN/MAX COUNT ----- */
form li div label var {
  font-weight: bold;
  font-style: normal; }

form li div label .currently {
  display: none; }

/* ----- FIELDS ----- */
input.text, input.search, input.file, textarea.textarea, select.select {
  font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
  font-size: 100%;
  color: #333;
  margin: 0;
  padding: 2px 0; }

input.text, input.search, textarea.textarea {
  border-top: 1px solid #7c7c7c;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #ddd;
  background: #fff url(/images/fieldbg.gif) repeat-x top; }

input.nospin::-webkit-inner-spin-button,
input.nospin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

select.select {
  padding: 1px 0 0 0; }

input.search {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-left: 6px; }

input.checkbox, input.radio {
  display: block;
  margin: 4px 0 0 0;
  padding: 0;
  width: 13px;
  height: 13px; }

input.other {
  margin: 0 0 8px 25px; }

.safari select.select {
  font-size: 120% !important;
  margin: 0 0 1px 0; }

* html select.select {
  margin: 1px 0; }

* + html select.select {
  margin: 1px 0; }

.center,
form li span.center input.text, form li span.center label,
form li.name span label,
form li.date input.text, form li.date span label,
form li.phone input.text, form li.phone span label,
form li.time input.text, form li.time span label {
  text-align: center; }

form li.time select.select {
  margin-left: 5px; }

form li.price .right {
  text-align: right; }

/* ----- SIZES ----- */
.third {
  width: 32% !important; }

.half {
  width: 48% !important; }

.full {
  width: 100% !important; }

input.small, select.small {
  width: 25%; }

input.medium, select.medium {
  width: 50%; }

input.large, select.large {
  width: 100%; }

/*.msie6 select.ieSelectFix{
  width:100%;
}*/
.msie[class] select.ieSelectFix {
  width: auto; }

.msie[class] select.ieSelectFix.small {
  min-width: 25%; }

.msie[class] select.ieSelectFix.medium {
  min-width: 50%; }

.msie[class] select.ieSelectFix.large {
  width: 100%; }

textarea.textarea {
  width: 293px;
  min-width: 100%;
  /* IE8 Textarea Scroll Bug */
  max-width: 100%; }

textarea.small {
  height: 5.5em; }

textarea.medium {
  height: 10em; }

textarea.large {
  height: 20em; }

/* ----- FILES ----- */
li.file a {
  color: #222;
  text-decoration: none; }

li.file span {
  display: inline;
  float: none; }

li.file img {
  display: block;
  float: left;
  margin: 0 0 0 -10px;
  padding: 5px 5px 7px 5px; }

li.file .file-size, li.file .file-type {
  color: #666;
  font-size: 85%;
  text-transform: uppercase; }

li.file .file-name {
  display: block;
  padding: 14px 0 0 0;
  color: blue;
  text-decoration: underline; }

li.file .file-delete {
  color: red !important;
  font-size: 85%;
  text-decoration: underline; }

li.file a:hover .file-name {
  color: green !important; }

li.file a:hover .file-name {
  color: green !important; }

/* ----- LIKERT SCALE ----- */
form li.likert {
  margin: 0;
  padding: 6px 1% 5px 1%;
  width: auto !important;
  clear: both !important;
  float: none !important; }

.likert table {
  margin: 0 0 .9em 0;
  background: #fff;
  width: 100%;
  border: 1px solid #dedede;
  border-bottom: none; }

.likert caption {
  text-align: left;
  color: #222;
  font-size: 95%;
  line-height: 135%;
  padding: 5px 0 .5em 0; }

.likert input {
  padding: 0;
  margin: 2px 0; }

.likert tbody td label {
  font-size: 85%;
  display: block;
  color: #565656; }

/* ----- Top Row ----- */
.likert thead td, .likert thead th {
  background-color: #e6e6e6; }

/* ----- Right Side ----- */
.likert td {
  border-left: 1px solid #ccc;
  text-align: center;
  padding: 4px 6px; }

.likert thead td {
  font-size: 85%;
  padding: 10px 6px; }

/* ----- Body ----- */
.likert th, .likert td {
  border-bottom: 1px solid #dedede; }

.likert tbody th {
  padding: 8px 8px;
  text-align: left; }

.likert tbody th label {
  color: #222;
  font-size: 95%;
  font-weight: bold; }

.likert tbody tr.alt td, .likert tbody tr.alt th {
  background-color: #f5f5f5; }

.likert tbody tr:hover td, .likert tbody tr:hover th {
  background-color: #FFFFCF; }

/* ----- Likert Classes ----- */
.col1 td {
  width: 30%; }

.col2 td {
  width: 25%; }

.col3 td {
  width: 18%; }

.col4 td {
  width: 14.5%; }

.col5 td {
  width: 12%; }

.col6 td, .col7 td {
  width: 10%; }

.col8 td, .col9 td, .col10 td {
  width: 6.5%; }

.col11 {
  width: 6%; }

.hideNumbers tbody td label {
  display: none; }

/* ----- BUTTONS ----- */
form li.buttons {
  width: auto !important;
  position: relative;
  clear: both;
  padding: 10px 1% 10px 1%; }

form li.buttons input {
  font-size: 100%;
  margin-right: 5px; }

input.btTxt {
  padding: 0 7px;
  width: auto;
  overflow: visible; }

.safari input.btTxt {
  font-size: 120%; }

.buttons .marker {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 10px 0 0;
  color: #000;
  width: auto; }

button.link {
  display: inline-block;
  border: none;
  background: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 100%; }

button.link:hover {
  color: green; }

/* ----- LABEL LAYOUT ----- */
.leftLabel li, .rightLabel li {
  width: 74% !important;
  padding-top: 9px; }

.leftLabel .desc, .rightLabel .desc {
  float: left;
  width: 31%;
  margin: 0 15px 0 0; }

.rightLabel .desc {
  text-align: right; }

.leftLabel li div, .rightLabel li div {
  float: left;
  width: 65%; }

* html .leftLabel li fieldset div,
* html .rightLabel li fieldset div {
  float: right; }

* + html .leftLabel li fieldset div,
* + html .rightLabel li fieldset div {
  float: right; }

.leftLabel .buttons, .rightLabel .buttons {
  padding-left: 23%; }

.leftLabel .buttons div, .rightLabel .buttons div {
  float: none;
  margin: 0 0 0 20px; }

.leftLabel p.instruct, .rightLabel p.instruct {
  width: 28%;
  margin-left: 5px; }

.leftLabel .altInstruct .instruct, .rightLabel .altInstruct .instruct {
  margin-left: 31% !important;
  padding-left: 15px;
  width: 65%; }

/* ----- NO INSTRUCTIONS ----- */
.noI form li, .altInstruct form li {
  width: auto !important; }

/* ----- NO INSTRUCTIONS LABEL LAYOUT ----- */
.noI .leftLabel .buttons, .noI .rightLabel .buttons {
  padding-left: 31%; }

.noI .leftLabel .buttons div, .noI .rightLabel .buttons div {
  margin: 0 0 0 17px; }

/* ----- HALVES AND THIRDS ----- */
form li.leftHalf, form li.rightHalf {
  width: 47% !important; }

form li.leftThird, form li.middleThird, form li.rightThird {
  width: 30% !important; }

form li.leftFourth, form li.middleFourth, form li.rightFourth {
  width: 23% !important;
  _width: 22% !important; }

form li.leftFifth, form li.middleFifth, form li.rightFifth {
  width: 18% !important;
  _width: 17% !important; }

form li.middleThird {
  clear: none !important;
  float: left;
  margin-left: 2% !important; }

form li.leftFourth, form li.middleFourth,
form li.leftFifth, form li.middleFifth {
  clear: none !important;
  float: left; }

form li.rightHalf, form li.rightThird, form li.rightFourth, form li.rightFifth {
  clear: none !important;
  float: right; }

li.leftHalf .small, li.rightHalf .small,
li.leftHalf .medium, li.rightHalf .medium,
li.leftThird .small, li.middleThird .small, li.rightThird .small,
li.leftThird .medium, li.middleThird .medium, li.rightThird .medium,
li.leftFourth .medium, li.middleFourth .medium, li.rightFourth .medium,
li.leftFourth .small, li.middleFourth .small, li.rightFourth .small,
li.leftFifth .medium, li.middleFifth .medium, li.rightFifth .medium,
li.leftFifth .small, li.middleFifth .small, li.rightFifth .small {
  width: 100% !important; }

form li.leftHalf, form li.leftThird, form li.leftFourth, form li.leftFifth {
  clear: left !important;
  float: left; }

* html form li.middleFourth {
  margin-left: 1% !important; }

* html form li.middleFifth {
  margin-left: 1% !important; }

/* ----- INSTRUCTIONS ----- */
form li.focused {
  background-color: #fff7c0; }

form .instruct {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 45%;
  margin: 0 0 0 8px;
  padding: 8px 10px 10px 10px;
  border: 1px solid #e6e6e6;
  background: #f5f5f5;
  visibility: hidden;
  opacity: 0;
  font-size: 105%;
  -webkit-transition: opacity 350ms ease-out;
  -moz-transition: opacity 350ms ease-out;
  -o-transition: opacity 350ms ease-out;
  transition: opacity 350ms ease-out; }

form .instruct small {
  line-height: 120%;
  font-size: 80%;
  color: #444; }

form li.focused .instruct, form li:hover .instruct {
  left: 100%;
  /* Prevent scrollbars for IE Instruct fix */
  visibility: visible;
  opacity: 1; }

/* ----- ALT INSTRUCTIONS ----- */
.altInstruct .instruct, li.leftHalf .instruct, li.rightHalf .instruct,
li.leftThird .instruct, li.middleThird .instruct, li.rightThird .instruct,
li.leftFourth .instruct, li.middleFourth .instruct, li.rightFourth .instruct,
li.leftFifth .instruct, li.middleFifth .instruct, li.rightFifth .instruct,
.iphone .instruct {
  visibility: visible;
  position: static;
  margin: 0;
  padding: 6px 0 0 0;
  width: 100%;
  clear: left;
  background: none !important;
  border: none !important;
  font-style: italic;
  opacity: 1; }

.altInstruct p.complex, li.leftHalf p.complex, li.rightHalf p.complex,
li.leftThird p.complex, li.middleThird p.complex, li.rightThird p.complex,
.iphone p.complex {
  padding: 0 0 9px 0; }

/* ----- CSS KEYWORDS ----- */
.hideSeconds .seconds, .hideAMPM .ampm, .hideAddr2 .addr2, .hideSecondary #previousPageButton,
.hideCents .radix, .hideCents .cents, .hideState .state {
  display: none; }

/* ----- SECTIONS ----- */
form li.section {
  clear: both;
  margin: 0;
  padding: 7px 0 0 0;
  width: auto !important;
  position: static; }

form li.section h3 {
  font-weight: normal;
  font-size: 110%;
  line-height: 135%;
  margin: 0 0 3px 0;
  width: auto;
  padding: 12px 1% 0 1%;
  border-top: 1px dotted #ccc; }

form li.first {
  padding: 0; }

form li.first h3 {
  padding: 8px 1% 0 1%;
  border-top: none !important; }

form li.section div {
  display: block;
  width: auto;
  float: none;
  font-size: 85%;
  line-height: 160%;
  margin: 0 0 1em 0;
  padding: 0 1% 0 1%; }

form li.section.scrollText {
  border: 1px solid #dedede;
  height: 150px;
  overflow: auto;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px; }

form li.section.scrollText h3 {
  border: none;
  padding-top: 8px; }

/* ----- CAPTCHA ----- */
form li.captcha {
  width: auto !important;
  clear: both;
  border-top: 1px dotted #ccc;
  margin-top: 5px;
  padding: 1.1em 1% 9px 1%;
  width: auto !important;
  position: static; }

form li.captcha label.desc {
  width: auto !important;
  margin-bottom: 4px;
  float: none; }

* + html #recaptcha_area, * + html #recaptcha_table {
  min-width: 450px !important; }

* html #recaptcha_area, * html #recaptcha_table {
  width: 450px !important; }

#recaptcha_widget_div table {
  background: #fff; }

form li.captcha .noscript iframe {
  border: none;
  overflow: hidden;
  margin: 0;
  padding: 0; }

form li.captcha .noscript label.desc {
  display: block !important; }

form li.captcha .noscript textarea {
  margin-left: 12px; }

iframe[src="about:blank"] {
  display: none; }

/* ----- PAGINATION ----- */
form li.paging-context {
  clear: both;
  border-bottom: 1px dotted #ccc;
  margin: 0 0 7px 0;
  padding: 5px 1% 10px 1%;
  width: auto !important;
  position: static; }

.paging-context table {
  width: 100%; }

.pgStyle1 td {
  /* Steps */
  text-align: left;
  vertical-align: middle; }

.pgStyle1 td.c {
  width: 22px; }

.pgStyle1 td.t {
  padding: 0 1%; }

.pgStyle1 var {
  display: block;
  float: left;
  background: none;
  border: 1px solid #CCC;
  color: #000;
  width: 20px;
  height: 20px;
  line-height: 19px;
  text-align: center;
  font-size: 85%;
  font-style: normal;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px; }

.pgStyle1 .done var {
  background: #ccc; }

.pgStyle1 .selected var {
  background: #FFF7C0;
  color: #000;
  border: 1px solid #e6dead;
  font-weight: bold; }

.pgStyle1 b {
  font-size: 85%;
  font-weight: normal;
  color: #000; }

.pgStyle1 .selected b {
  font-weight: bold; }

.circle6 td, .circle7 td {
  vertical-align: top;
  text-align: center; }

.nopagelabel td.t {
  display: none; }

.nopagelabel .pgStyle1 var, .circle6 var, .circle7 var {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 90%;
  margin: 0 auto 7px auto;
  float: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px; }

.nopagelabel .pgStyle1 var {
  margin-bottom: 0; }

.circle6 b, .circle7 b {
  padding: 0; }

.circle2 td {
  width: 50%; }

.circle3 td {
  width: 33%; }

.circle4 td {
  width: 25%; }

.circle5 td {
  width: 20%; }

.circle6 td {
  width: 16.6%; }

.circle7 td {
  width: 14.2%; }

.pgStyle2 td {
  /* Percentage */
  vertical-align: middle;
  height: 25px;
  padding: 2px;
  border: 1px solid #CCC;
  position: relative;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px; }

.pgStyle2 var {
  /* Percentage Bar */
  display: block;
  height: 26px;
  float: left;
  background: #FFF7C0;
  color: #000;
  font-style: normal;
  text-align: right;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 0 0; }

.pgStyle2 var b {
  /* Percentage # */
  display: block;
  float: right;
  font-size: 100%;
  padding: 3px 10px 3px 3px;
  line-height: 19px; }

.pgStyle2 em {
  /* Page Title */
  font-size: 85%;
  font-style: normal;
  display: inline-block;
  margin: 0 0 0 9px;
  padding: 4px 0;
  line-height: 18px; }

.pgStyle2 var em {
  padding: 4px 5px 3px 0; }

.page1 .pgStyle2 var {
  padding-left: 7px;
  text-align: left;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

.page1 .pgStyle2 b {
  float: none;
  padding-right: 0; }

.hideMarkers .marker, .nopagelabel .pgStyle1 b, .nopagelabel .pgStyle2 em {
  display: none !important; }

/* ----- ERRORS ----- */
#errorLi, .error-container {
  width: 99%;
  margin: 15px auto 15px auto;
  background: #fff !important;
  border: 1px solid red;
  text-align: center;
  padding: 1em 0 1em 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.error-container {
  width: auto;
  margin: 2em;
  padding: 2em; }

#errorMsgLbl {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 125%;
  color: #DF0000 !important; }

#errorMsg {
  margin: 0 0 2px 0;
  color: #000 !important;
  font-size: 100%; }

#errorMsg b {
  padding: 2px 8px;
  background-color: #FFDFDF !important;
  color: red !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

form li.error {
  display: block !important;
  background-color: #FFDFDF !important;
  margin-bottom: 3px !important; }

form li label.error, form li input.error {
  color: #DF0000 !important;
  font-weight: bold !important; }

form li input.error {
  background: #fff !important;
  border: 2px solid #DF0000 !important; }

form li.error label, form li.error span.symbol {
  color: #000 !important; }

form li.error .desc {
  color: #DF0000 !important; }

form p.error {
  display: none;
  margin: 0 !important;
  padding: 7px 0 0 0 !important;
  line-height: 10px !important;
  font-weight: bold;
  font-size: 11px;
  color: #DF0000 !important;
  clear: both; }

form li.error p.error {
  display: block; }

form li.complex p.error {
  padding: 0 0 9px 0 !important; }

/* ----- TEXT DIRECTION ----- */
.rtl h1, .rtl form * {
  direction: rtl;
  text-align: right; }

.rtl li span {
  float: right; }

.rtl .right {
  float: left; }

.rtl #logo a {
  background-position: right top; }

.rtl label.choice {
  margin: -17px 23px 0 0; }

.rtl .leftLabel .desc, .rtl .rightLabel .desc {
  float: right;
  margin: 0 0 0 15px; }

.rtl .leftLabel li div, .rtl .rightLabel li div {
  float: right; }

.rtl .leftLabel .desc {
  text-align: left; }

.rtl li.focused .instruct, .rtl li:hover .instruct {
  left: auto;
  right: 100%; }

.rtl .leftLabel p.instruct, .rtl .rightLabel p.instruct {
  margin-right: 5px; }

.rtl .leftLabel .altInstruct .instruct, .rtl .rightLabel .altInstruct .instruct {
  margin-right: 31% !important;
  padding-right: 15px; }

.rtl .leftLabel .buttons, .rtl .rightLabel .buttons {
  padding-right: 23%; }

.rtl .leftLabel .buttons div, .rtl .rightLabel .buttons div {
  float: none;
  margin: 0 20px 0 0; }

.noI .rtl .leftLabel .buttons, .noI .rtl .rightLabel .buttons {
  padding-right: 31%; }

.noI .rtl .leftLabel .buttons div, .noI .rtl .rightLabel .buttons div {
  margin: 0 17px 0 0; }

.rtl .likert td label {
  text-align: center; }

.rtl .likert caption, .rtl .likert tbody th {
  text-align: right; }

.rtl .likert td {
  text-align: center;
  border-left: none;
  border-right: 1px solid #ccc; }

.rtl .pgStyle1 var {
  text-align: center; }

.rtl .pgStyle1 td {
  text-align: right; }

.rtl .pgStyle2 var {
  float: right; }

.rtl .pgStyle2 var b {
  float: left;
  padding: 3px 3px 3px 10px; }

.rtl .pgStyle2 em {
  margin: 0 9px 0 0; }

.rtl .pgStyle2 var em {
  padding: 4px 0 3px 5px; }

.rtl .page1 .pgStyle2 var {
  padding-right: 7px; }

.rtl .page1 .pgStyle2 b {
  padding-left: 0; }

.rtl .buttons .marker {
  right: auto;
  left: 0;
  padding: 15px 0 0 10px; }

.rtl #errorLi * {
  text-align: center; }

/* ----- Rating Styles ----- */
.rating span {
  cursor: pointer; }
.rating span:focus {
  outline: 0; }
.rating span, .rating:hover span:hover ~ span {
  font-size: 20px;
  line-height: 1em;
  width: .9em;
  height: 1em;
  padding-right: .1em;
  color: #c7c7c7;
  text-shadow: 0 0 1px #444; }
.rating .clicked {
  color: #FFD954; }
.rating > span:hover, .rating .clicked:hover, .rating:hover span {
  color: #ffe487;
  text-shadow: 0 0 1px #ff0000;
  cursor: pointer; }
.rating:hover span {
  _color: #c7c7c7; }

.msie6 .rating span, .msie7 .rating span {
  color: #c7c7c7;
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 30px;
  width: 30px;
  font-family: "Pictos";
  font-size: 20px; }
  .msie6 .rating span:hover, .msie6 .rating span.clicked, .msie7 .rating span:hover, .msie7 .rating span.clicked {
    color: #ffe487; }

.password-tips li {
  padding: 0;
  margin: 0 0 1em 0; }

@media print {
  .rating span {
    color: #c7c7c7; } }
div.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  position: absolute;
  display: none;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/ }

div.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px; }

div.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px; }

div.datepicker > div {
  display: none; }

div.datepicker table {
  width: 100%;
  margin: 0; }

div.datepicker td,
div.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

div.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer; }

div.datepicker td.day.disabled {
  color: #eeeeee; }

div.datepicker td.old,
div.datepicker td.new {
  color: #999999; }

div.datepicker td.active,
div.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

div.datepicker td.active:hover,
div.datepicker td.active:hover:hover,
div.datepicker td.active:focus,
div.datepicker td.active:hover:focus,
div.datepicker td.active:active,
div.datepicker td.active:hover:active,
div.datepicker td.active.active,
div.datepicker td.active:hover.active,
div.datepicker td.active.disabled,
div.datepicker td.active:hover.disabled,
div.datepicker td.active[disabled],
div.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3; }

div.datepicker td.active:active,
div.datepicker td.active:hover:active,
div.datepicker td.active.active,
div.datepicker td.active:hover.active {
  background-color: #003399 \9; }

div.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

div.datepicker td span:hover {
  background: #eeeeee; }

div.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

div.datepicker td span.active:hover,
div.datepicker td span.active:focus,
div.datepicker td span.active:active,
div.datepicker td span.active.active,
div.datepicker td span.active.disabled,
div.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3; }

div.datepicker td span.active:active,
div.datepicker td span.active.active {
  background-color: #003399 \9; }

div.datepicker td span.old {
  color: #999999; }

div.datepicker th.switch {
  width: 145px; }

div.datepicker th.next,
div.datepicker th.prev {
  font-size: 21px; }

div.datepicker thead tr:first-child th {
  cursor: pointer; }

div.datepicker thead tr:first-child th:hover {
  background: #eeeeee; }

.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px; }

.confirm .wufoo {
  text-align: center; }
  .confirm .wufoo div {
    text-align: justify; }
    .confirm .wufoo div p {
      font-size: 120%;
      line-height: 160%;
      margin: 0 10px 1.5em 10px; }
.confirm h2 {
  font-weight: normal;
  font-size: 160%;
  margin: 0 0 .2em 0;
  line-height: 135%;
  color: #222;
  margin: 0 1em;
  padding: 70px 0 80px 0; }
.confirm a.start-cta {
  display: none; }
.confirm .create-message {
  display: none; }
.confirm .logo-container {
  display: none; }

.embed .confirm h2.freeHeading {
  padding: 0;
  font-size: 35px;
  color: #484c52;
  line-height: 55px;
  text-align: center;
  margin: 98px 0 40px 0; }
.embed .confirm h2.paidHeading {
  font-weight: normal;
  font-size: 160%;
  margin: 0 0 .2em 0;
  line-height: 135%;
  color: #222;
  margin: 0 1em;
  padding: 70px 0 80px 0; }
.embed .confirm .create-message {
  display: block;
  font-size: 20px;
  color: #65c5e6;
  line-height: 26px;
  text-align: center;
  margin-bottom: 20px; }
.embed .confirm a.start-cta {
  background: #65c5e6;
  width: 237px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  padding: 15px 0 13px;
  margin: auto; }
.embed .confirm a.power {
  display: none; }
.embed .confirm .logo-container {
  display: block;
  text-align: center;
  color: #7a7a7a;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  margin-top: 40px; }
  .embed .confirm .logo-container img {
    width: 100px;
    height: 30px; }

/* ----- PASSWORD ----- */
ul.protected {
  list-style: none;
  margin: 50px 0 30px 0; }

.protected li {
  text-align: center;
  padding: 10px 0;
  width: 100% !important; }

.protected h2 {
  font-weight: bold;
  color: #DF0000;
  margin: 0 auto 10px auto; }

.protected label {
  font-size: 120% !important;
  padding-top: 10px;
  display: block; }

.protected input.text {
  font-size: 170% !important;
  width: 380px;
  text-align: center; }

.protected .buttons {
  margin: 0 auto;
  padding: 0; }

.protected #saveForm {
  font-size: 120% !important; }

.rtl .protected li, .rtl .protected input.text {
  text-align: right; }

.rtl .protected .buttons {
  margin: 0; }

/* ----- MERCHANT ----- */
#merchant {
  text-align: center; }

#merchant li {
  width: 97%; }

#merchant .info {
  border-bottom: none !important; }

#merchantMessage {
  padding: 60px 20px 40px 20px; }

/* ----- INVOICE ----- */
form li.invoice {
  clear: both;
  width: auto !important;
  margin: 0;
  padding: 0;
  position: static; }

.invoice table {
  font-size: 90%;
  width: 100%;
  margin: 0 0 15px 0; }

.invoice thead th,
.invoice tbody th, .invoice tbody td,
.invoice tfoot th {
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
  padding: 7px; }

.invoice thead th {
  background: #eee;
  font-weight: normal; }

.invoice tbody th em {
  font-weight: normal;
  font-size: 85%;
  display: block; }

.invoice tbody th i {
  font-style: normal;
  font-weight: normal; }

.invoice .description {
  width: 75%; }

.invoice .total {
  text-align: right;
  padding-right: 10px;
  border-right: 1px solid #ccc; }

.invoice tfoot .last th, .invoice tfoot .last td, .invoice tbody .last td {
  border-bottom: 1px solid #ccc; }

.invoice tfoot th, .invoice tfoot td {
  border-top: 1px solid #ccc; }

.invoice .price, .invoice .quantity {
  text-align: center; }

.invoice tfoot th {
  text-align: right; }

#payment {
  margin-top: 12px; }

#payment .paging-context {
  padding-top: 10px !important;
  border-top: 1px dotted #ccc;
  margin-bottom: 17px; }

#payment .section h3 {
  font-size: 140%; }

#payment .section div {
  font-size: 90%; }

#payment .desc {
  padding: 0;
  line-height: 140%;
  font-size: 120%; }

#payment .desc sub {
  display: block;
  color: #999;
  font-weight: normal;
  font-size: 60%; }

#payment .desc strong {
  display: block;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  color: #888; }

#payment .desc img {
  margin-bottom: -1px; }

#payment .error .desc strong {
  color: #DF0000;
  font-size: 11px; }

#shipSection input.checkbox {
  width: 13px !important; }

.ship {
  display: block; }

.same .ship {
  display: none; }

#shippingSame {
  padding-bottom: 5px;
  margin-top: -3px !important; }

#shipSection .desc {
  margin-top: -5px !important; }

#ppSection, #ccSection {
  border-bottom: 1px dotted #ccc; }

#ppSection .choice {
  margin: -25px 0 0 23px;
  padding: 0;
  width: auto; }

* html #ppSection .choice {
  margin: -20px 0 0 23px; }

#ppSection span.last {
  margin: 0; }

#ppSection span.first {
  margin: 0 12px 0 0; }

#ppSection img {
  cursor: pointer; }

.ppexpress #ccSection, .ppexpress #billSection, .ppexpress #shipSection, .ppexpress #invoiceSection, .ppexpress #submitFormButton {
  display: none !important; }

#paypalSubmit {
  display: none; }

.ppexpress #paypalSubmit {
  display: inline; }

.ppexpress #ppSection {
  border: none; }

.echeck #ccSection, .echeck #billSection, .echeck #shippingSame {
  display: none !important; }

.noecheck #ecSection {
  display: none !important; }

#ccSection, #billSection, #ecSection {
  padding-top: 20px;
  padding-bottom: 8px; }

#shipSection {
  border-top: 1px dotted #ccc;
  padding-top: 20px; }

#shipSection div {
  padding-bottom: 8px; }

#invoiceSection {
  border-top: 1px dotted #ccc;
  padding-top: 15px;
  padding-bottom: 0; }

#expMonth {
  width: 94px; }

#expYear {
  width: 64px; }

.checkNumbers {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #B3C8D6; }

.routingNumber, .accountNumber {
  display: block;
  width: 14px;
  height: 14px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 14px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  font-size: 8px;
  float: left;
  margin: 2px 4px -2px 0; }

.routingNumber {
  background: #CA2B0B; }

.accountNumber {
  background: #1751BC; }

.checkNotice {
  background: #eee;
  padding: 0 !important;
  margin: 7px 0 16px 0 !important;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35); }

.checkNotice label {
  margin: 6px 14px 10px 14px; }

#ccSection {
  background: #e0e0e0;
  position: relative; }

#ccSection img {
  cursor: pointer; }

#ccSection .desc img {
  position: absolute;
  bottom: 11px;
  left: 4px; }

* html #ccSection img, * html #ppSection img {
  _behavior: url(/images/iepngfix.htc); }

#cvc {
  position: absolute;
  top: 100%;
  z-index: 1000;
  right: -15px;
  margin: -10px 0 0 0;
  width: 170px !important;
  min-width: 0 !important;
  float: none;
  border: 1px solid #000;
  background: #222 url(/images/ttclose.png) no-repeat 95% 9px;
  color: #fff;
  text-align: justify;
  padding: 12px 15px 12px 12px;
  font-size: 80%;
  line-height: 150%;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 7px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 7px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 7px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 7px;
  cursor: pointer;
  display: none; }

.showCVC #cvc {
  display: block; }

* html .showCVC #country {
  visibility: hidden; }

#cvc h5 {
  color: #F2EF8C;
  font-size: 120%;
  padding: 0 0 4px;
  margin: 0; }

#stripe {
  display: inline;
  width: auto;
  float: right;
  position: relative;
  top: -22px;
  font-size: 14px;
  color: #777; }
  #stripe a {
    text-indent: -9000px;
    background: url(/images/payment/stripe.png) no-repeat;
    width: 49px;
    height: 20px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    top: -2px;
    margin: 0 7px -2px 2px;
    border-bottom: 1px solid transparent; }
    #stripe a:hover {
      border-bottom: 1px dotted #777; }

/* COUPON CODE */
.hasCoupon table {
  margin-bottom: 3px; }

#couponSection li {
  text-align: right;
  float: none; }

#couponSection label.desc {
  width: 60%;
  font-size: 100% !important;
  margin: 1px 0 0 0;
  text-align: right;
  font-weight: normal; }

#couponSection div {
  display: inline-block;
  width: 39%;
  margin: 0;
  float: right; }

#coupon {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  width: 50%;
  font-weight: bold;
  padding-left: 5px;
  margin-bottom: 10px; }

#checkCoupon {
  float: center; }

.error #coupon {
  margin-bottom: 0px !important; }

.error label.desc {
  font-weight: bold !important; }

#couponSection label.error {
  margin-bottom: 6px;
  font-size: 75%;
  font-weight: normal !important;
  color: #DF0000 !important; }

/* ----- RUNNING TOTAL ----- */
.running li.section.first {
  width: 68% !important; }

li.total {
  height: 0px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100% !important; }

#lola {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 29%;
  margin: 7px 0 0 0;
  padding: 10px 12px 14px 12px;
  background: #E6E6E6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  display: block !important; }

.embed #lola {
  -webkit-transition: margin 500ms;
  -moz-transition: margin 500ms;
  -o-transition: margin 500ms;
  transition: margin 500ms; }

#lola table {
  width: 100%; }

#lola td {
  text-align: right; }

#lola tbody b {
  float: left;
  padding: 2px 0 0 0; }

#lola tbody span {
  float: right;
  font-size: 135%;
  font-weight: bold;
  width: 72%; }

#lola tbody td {
  border-bottom: 1px solid #CCC;
  padding: 0 0 7px 0; }

#lola tfoot th, #lola tfoot td {
  font-size: 85%;
  padding: 8px 0 0 0; }

#lola tfoot td {
  white-space: nowrap; }

#lola tfoot th {
  color: #696969;
  text-align: left; }

#lola tfoot tr.negAmount {
  color: red; }

.leftLabel li.total, .rightLabel li.total {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important; }

.leftLabel #lola, .rightLabel #lola {
  width: 20% !important;
  right: -3px; }

.leftLabel #lola tbody b, .rightLabel #lola tbody b {
  font-size: 85%;
  padding: 3px 0 0 0; }

.leftLabel #lola tbody span, .rightLabel #lola tbody span {
  width: 65%;
  font-size: 125%; }

.leftLabel #lola tfoot th, .leftLabel #lola tfoot td,
.rightLabel #lola tfoot th, .rightLabel #lola tfoot td {
  font-size: 75%; }

/* ----- TEXT DIRECTION ----- */
.rtl #lola {
  right: auto;
  left: 0; }

.rtl #lola tbody b, .rtl #lola tfoot th {
  float: right; }

.rtl #lola tbody span {
  float: left;
  text-align: left; }

.rtl .invoice thead th,
.rtl .invoice tbody th, .rtl .invoice tbody td,
.rtl .invoice tfoot th {
  border-right: 1px solid #ccc; }

.rtl .invoice .total {
  border-right: none;
  border-left: 1px solid #ccc; }

.rtl #payment .desc strong {
  text-align: left;
  width: auto; }

.rtl #payment .desc strong img {
  float: left;
  margin: 1px 3px 0 0; }

.rtl #ppSection .choice {
  margin: -25px 23px 0 0; }

* html .rtl #ppSection .choice {
  margin: -20px 23px 0 0; }

.rtl #ppSection span.first {
  margin: 0 0 0 12px; }

.rtl #cvc {
  background-position: 5% 9px;
  right: auto;
  left: -15px; }

.rtl .routingNumber, .rtl .accountNumber {
  float: right;
  margin: 2px 0 -2px 4px;
  text-align: center !important; }

form li.tosMessage {
  line-height: 1.25em;
  display: block;
  padding: 10px 70px;
  font-size: 10px; }

@media print {
  #public, h2 {
    margin: 0; }

  #container {
    border: none !important;
    width: 100%; }

  #logo, form .buttons, #printPage, .icon {
    display: none !important; }

  form.wufoo {
    margin: 0;
    padding: 0;
    page-break-inside: auto; }

  form.wufoo .instruct {
    display: block; } }
@media only screen and (max-width: 480px) {
  html {
    background: none;
    margin: 0; }

  body {
    margin: 0 0 15px 0 !important; }

  #container, form li.focused {
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important; }

  #container, #footer {
    margin: 0 auto !important;
    width: 100%; }

  #stripe {
    top: 7px; } }
/* ----- EMBED ----- */
.embed {
  padding: 0 !important;
  overflow: hidden;
  background: transparent; }

.embed #container {
  width: 100% !important;
  border: none !important;
  background: transparent;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }

.embed #logo {
  display: none !important; }

.embed form, .embed body {
  margin: 0 !important; }

.scroll {
  overflow-y: auto !important; }

.scroll {
  overflow-x: hidden !important; }
